@media (min-width: 700px){

    .zen-resources{
        top: 0;
        right: 0;
        left: 0;
        height: 70px;
        position: fixed;
        background-color: $blue;
        display: flex;
    }

    .zen-resources h3:first-of-type{
        display: none;
    }

    .zen-resources > ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        width: 700px;
        margin-left: 30px;    
    }

    .zen-resources > ul > li > a{
        color: $pink;
        text-decoration: none;
        font-size: 0.8em;
    }

}