@font-face { 
    font-family: 'EricaOne-regular';
    src: url('fonts/EricaOne-regular.ttf');
}

h1{
    font-family: 'EricaOne-regular';
    font-size: 4em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

h2{
    font-family: 'EricaOne-regular';
    font-size: 2em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

h3{
    font-family: 'EricaOne-regular';
    font-size: 2em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

p{
    font-family: sans-serif;
    color: $white;
    line-height: 2;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    color: $beige;
}

li{ 
    list-style-type: none;
}

.summary p:first-of-type{
    background-color: $darkblue;
    margin-top: 16em;
    padding-top: 20px;
}