@font-face { 
    font-family: 'EricaOne-regular';
    src: url('fonts/EricaOne-regular.ttf');
}

h1{
    font-family: 'EricaOne-regular';
    font-size: 4em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

h2{
    font-family: 'EricaOne-regular';
    font-size: 2em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

h3{
    font-family: 'EricaOne-regular';
    font-size: 2em;
    color: $beige;
    letter-spacing: 3px;
    padding-left: 15px;
}

p{
    font-family: sans-serif;
    color: $white;
    line-height: 2;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    font-family: sans-serif;
    color: #A751CC;
}

li{ 
    list-style-type: none;
}

.summary p:first-of-type{
    background-color: $darkblue;
    margin-top: 16em;
    padding-top: 20px;
}

.preamble > h3{
    margin-bottom: 12em;
}

.preamble > p{ 
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
}

.preamble p:last-child{
    margin-top: 9em;
}

@media (min-width: 450px){
    .preamble > h3{
        margin-bottom: 3em;
    }
    
    .preamble > p{ 
        width: 400px;
    }
    
    .preamble p:last-child{
        margin-top: 0;
    }
}

@media (min-width: 700px){

    // Summary
    .summary p:first-of-type{
        background-color: $darkblue;
        margin-top: 0;
        padding-top: 20px;
        width: 500px;
    }

    // Preamble
    .preamble > h3{
        margin-bottom: 4em;
    }

    .preamble > p{ 
        width: 400px;
        margin-left: 13em;
        margin-right: 40px;
        font-size: 0.8em;
    }

    .preamble p:last-child{
        margin-top: 3em;
    }
}